{% extends "base.html" %}

{% block content %}
<hr><hr>
<div class="col-sm-20">
    <form action="" method=post><p>
        <input type=submit value="Refresh cluster data" class="btn btn-warning">
    </form>
<div>

<div class="col-sm-20">
{% for cluster in data %}
    <hr>
    <h1>{{ cluster.label }} </h1>
    <h4>{{ cluster.host_name }} <br>
        <code> {{ cluster.host_ip }} </code> </h4>
    <table class="table table-bordered table-hover">
        <tr><th>Service</th><th>Minion</th><th>IP</th><th>Deployed</th></tr>
        {% for service_name, service_minions in cluster.services.items() %}
            {% for minion in service_minions %}
                <tr>
                    <td class="text-right">{{ service_name }}</td>
                    <td>{{ minion.host_name }}</td>
                    <td>{{ minion.host_ip }}</td>
                    <td>
                        <a href=https://github.com/NCI-GDC/{{services.get(service_name)}}/commit/{{minion.deployed}}>
                            {{minion.deployed}}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table >
{% endfor %}
</div>

{% endblock %}
