<h2>Reload cluster data:</h2>
    <form action="" method=post><p>
        <input type=submit value="Reload">
    </form>
<div>

{% for cluster in data %}
    <hr><hr>
    <h1>{{ cluster.label }} </h1>
    <h3>{{ cluster.host_name }} <br> {{ cluster.host_ip }} </h3>
    <table>
        <tr><th>Service</th><th>Minion</th><th>IP</th><th>Deployed</th></tr>
        {% for service_name, service_minions in cluster.services.items() %}
            
            {% for minion in service_minions %}
            <tr>
                <th align='right'>{{ service_name }}</th>
                <th>{{ minion.host_name }}</th>
                <th>{{ minion.host_ip }}</th>
                <th>{{minion.deployed}}</th>
            {% endfor %}
        {% endfor %}
    </table >
{% endfor %}
</div>
